/* Apply to All*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Apply to Header */
header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
  }

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin-left: -50px;
    color: black;
    background-color: white;
    padding: 0px 10px 0px 50px;
}

header a {
      text-decoration: none;
      color: #fff;
      display: flex;
  }

  header nav {
    margin: 0px 0;
    display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav ul li a {
    padding: 5px 15px;
    margin-left: 15px;
    font-weight: lighter;
    font-size: 18px;
    border-bottom: 3px solid rgb(139, 139, 139);
}
    
/* Apply to Hero */
.hero {
   padding: 0px;
   background-image: url("./images/hero2.jpg");
   height: 80%;
   background-position: 50% 40%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   
}

.hero-text {
    font-size: 20px;
    position: absolute;
    color: black; 
    display: flex;
    background-color: white;
    bottom: 70px;
    right: 30px;
}

.secondary-img img {
    max-width: 20%;
  }

  .secondary-img {
    flex: 1 12%;
    margin: 0px 80px 0px 0px;
    padding: 50px;
  }

  /* Apply to Body */


 .container {
 display: flex;
 flex-direction: row;
 }

 .item {
  padding: 30px;
}

.headline h1 {
  text-align: right;
  position: absolute;
  font-size: 21px;
  right: 0;
}

.headline {
  margin: 30px 0 0 100px;
  position: relative;
  padding-right: 10%;
}

.border li{
  display: inline;
}

.border ul li a {
  text-decoration: none;
  color: black;
  margin: 0 60px 20px 60px;
  font-size: 18px;
  border-bottom: 3px solid rgb(139, 139, 139);
}

.border {
  border-left: 2px solid black;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border a {
  text-decoration: none;
  color: #fff;
  display: flex;
}

main .item ul {
display: flex;
flex-wrap: wrap;
}

.border img{
  border: 2px solid black;
  width: 100%;

}
.image1 {
  flex-grow:1;
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  padding: 20px;
  margin-left: -20px;
}

.secondary-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}